body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}


header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


#headshot img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #333;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}


#headshot img:hover {
    transform: scale(1.1);
}


#name_card {
    margin-top: 10px;
}

#name_card h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
}

#name_card h2 {
    margin: 0;
    font-size: 1.5em;
    color: #555;
}


footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}
